# Dependencies
node_modules/
target/

# System
.DS_Store

# Environment
.env
*.env
.env.local

# IDE
.vscode/
.idea/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Next.js
.next/
out/
build/
dist/

# Scarb
contracts/target/
